/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.11.2019, 11:05:06
    Author     : atsov
*/
/* taustakuva */
body {
    background-image: url("../kuvat/deadpool-4070071_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heeder{
    color: turquoise;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Rye', cursive;;
}
.oikein {
    background-color: fuchsia;
}
.oikea_vastaus {
    font-weight: bold;
    color: black !important;
    background-color: fuchsia;
}
.vastaus_teksti {
    color: black !important ;
}
.hided {
    display: none ;
}
/* nappien selvennykset margineilla */
.seuraava3 {
    margin-top: 1em;
}
/* pistelaskuritähti */
.star {
    color: #ffc401;
    padding-left: 5px;
}
