/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.12.2019, 12:04:25
    Author     : atsov
*/
.heeder{
    background-color: #800000;
    color: #009933;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Rye', cursive;;
}
.hided {
    display: none ;
}
/* nappien selvennykset margineilla */
.seuraava, .aloita {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* pistelaskuritähti */
.star {
    color: #ffc401;
    padding-left: 5px;
}
