/* Samin CSS */

body {
    background-color: #505bf1;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

body h1 {
    font-family: 'Rye', cursive;
}

.navbar-light {
    border-radius: 20px;
    border: solid 1px #d6d6d6;
    background-color: #d6d6d681;
}

.navbar.navbar-expand-md.navbar-light li a {
    color: #1a1a1a;
}

.hidden {
    display: none;
}

.whiteBack {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #1a1a1a;
}

.star {
    color: #ffc401;
    padding-left: 5px;
}