/* Samin CSS */

body {
    background-color: #ff5959;
    background-image: url("../kuvat/karkki_tausta.jpg");
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

body h1 {
    font-family: 'Rye', cursive;
}

.navbar-light {
    background-color: #1ce458d5;
    border-radius: 20px;
    border: solid 1px #1ce458;
}

.navbar.navbar-expand-md.navbar-light li a {
    color: #1a1a1a;
}

/* Visa CSS */
.correct {
    background-color: #2fff7f;
}

.incorrect {
    background-color: #f55134;
}

.correct_answer {
    font-weight: bold;
    color: #1a1a1a !important;
}

.answer {
    color: #1a1a1a !important;
}

.hidden {
    display: none;
}

.col-md-6 {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #1a1a1a;
}

.star {
    color: #ffc401;
    padding-left: 5px;
}