/*
 * Student name : Pyry Hofslagare
 * Started date : 19/11/2019
 * End date: 18/12/2019
 */ 

/* Osa koodista on yhteisestä "seiskastyle.css"-koodista 

background-image: url("../kuvat/pink-mist-background.jpg");
*/

.heeder {
    color: #11100e;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Rye', cursive;
    background-image: url("../kuvat/orange-mist-background.jpg");
}

.bodybakgrund {
    background-image: url("../kuvat/pink-mist-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rätt {
    background-color: blue;
}
.orätt {
    background-color: maroon;
}
.rätt_svar {
    font-weight: bold;
    color: black !important;
}
.svar_text {
    color: black !important;
}
.hemlig {
    display: none ;
}

.nav_tausta {
    background-color: #ffa600;
}

.nav_tausta a:hover {
    background-color: #caa664;
}

.infobox {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border: 15px darksalmon;
    border-style: ridge;
  }

 /* .footerbord {
      padding-top: 5px;
      border-top: 15px solid darksalmon;
      border-bottom: 15px solid darksalmon;
  }*/

.fa {
	color: rgb(255, 0, 128);
}

.bold {
    font-weight: bold;
}

.blue {
    color: blue;
}

.brown {
    color: maroon;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
