/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.11.2019, 9:38:38
    Author     : Tiimi7
*/

.heeder{
    background-color: #800000;
    color: #009933;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Rye', cursive;;
}

.bodyback {
    background-color: #800000;
}

.nav_tausta {
    background-color: #009933;
}

.nav_tausta a:hover {
    background-color: aquamarine;
}