/* Ukkon tyylitieosto */

body {
    background-image: url("../kuvat/rapper-1991345_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
}

.heeder{
    background-color:#FFF8DC;
    color:  rgb(235, 163, 19);
    font-family: 'Roboto Condensed', sans-serif;
}

.bodyback {
    background-color:rgb(251, 238, 185);
}

.gang {
    font-weight: bold;
    color: black;
}

.oikein {
    background-color: aquamarine;
}

.vaarin {
    background-color:fuchsia;
}

.oikea_vastaus {
    font-weight: bold;
    color: black !important;
}

.vastaus_teksti {
    color: black !important;
}

.hided {
    display: none;
}

.nav_tausta {
    background-color: darkturquoise !important;
}

.nav_tausta a:hover {
    background-color: aquamarine !important;
}

.nav-link:hover {
    background-color: darkturquoise;
    border-radius: 25px;
}

.painike {
    border-radius: 25px;
}

.piilossa {
    display: none;
}