/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2.12.2019, 22:02:09
    Author     : käyttäjä
*/
/*Navigaation ulkonäkö*/
.heeder{
    background-color: #595959;
    color: #009933;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Rye', cursive;;
    border-radius: 10px;
}
.navbar-dark {
    border-radius: 20px;
}


/*luokat visa tehtävien virheisiin ja oikeisiin vastauksiin*/
.oikea {
    background-color: #ffff1a;
    border-radius: 10px;
}
.vaarin {
    background-color: #ff4000;
    border-radius: 10px;
}
.oikeavastaus {
    font-weight: bold;
    color: black !important;
    background-color: #ffff1a;
    border-radius: 10px;
}
.vastausteksti {
    color: black !important;
    display: inline;

}







.piilotettu {
    display: none ;
}
.visa {
    border-radius: 10px;
    border: solid;
}


/*Palkintokuva visan/tehtävän lopussa*/
img {
    height: 130px;
    width: 130px;
}




/*taustakuvat sivustoille*/
.taustakuva-visa {
    background-image: url("../kuvat/metsä.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.taustakuva-matikka {
    background-image: url("../kuvat/numeroita.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}