/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3.12.2019, 10:47:59
    Author     : Joni Rainio
*/

body {
    background-image: url("../kuvat/green-1072828_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.oikein {
    background-color: greenyellow;
}
.vaarin {
    background-color: orangered;
}
.oikea_vastaus {
    font-weight: bold;
    color: black !important;
}
.vastaus_teksti {
    color: black !important;
}
.hidden {
    display: none;
}
figure {
    max-width: 200px;
}
#stars{
    color: gold;
}